
.votes {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sticky {
    z-index: 3;
}

.ui.comments.ui.comments {
    margin-left: 50px;
}

Form {
    margin: 15px;
}
